server {
    listen 80 default_server;
    server_name _;

{% if 'grafana_servers' in group_names %}
    location /grafana {
        proxy_pass http://localhost:{{ grafana_port }};
        proxy_set_header Host $http_host;
    }
{% endif %}

{% if 'prometheus_servers' in group_names %}
    location /prometheus {
        proxy_pass http://localhost:9090;
    }
{% endif %}

    location = /basic_status {
        stub_status;
    }

{% if 'agama_servers' in group_names %}
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://www{{ inventory_hostname | replace('Kryptograafia', '') }}:{{ agama_port }};
    }
{% endif %}
}

server {
    listen 8080 default_server;

    location = /stub_status {
        stub_status;
    }
}
