apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090/prometheus
    access: proxy
    isDefault: true
    jsonData:
      httpMethod: POST
    uid: ce21fsmtgpp8gc

  - name: influxdb:agama_client_db
    type: influxdb
    url: http://influxdb:8086
    access: proxy
    isDefault: false
    database: agama_client_db
    jsonData:
      httpMethod: POST

  - name: influxdb:telegraf
    type: influxdb
    url: http://influxdb:8086
    access: proxy
    isDefault: false
    database: telegraf
    jsonData:
      httpMethod: POST
